
.about {
    color: black;
    font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6, p, label{
    color: white;
    font-family: Helvetica;
    margin: 2%;
}

a {
    color: white;
    text-decoration: none;
}

