html, body {
    margin: 0;
}

.headerBanner{
    margin: 13px;
    display: flex;
}

.headerBanner h1{
    font-family: Helvetica;
    color: rgb(0, 0, 80);
    margin: 12px;
    margin-top: 23px;
}

.darkmodebutton{
    background-color: rgb(255, 255, 255); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    cursor: pointer;
}
.headerLinks{
    background-color: rgb(0, 0, 80);
    padding: 12px;
}

.headerLinks a{
    color: white;
    font-family: Helvetica;
    margin: 12px; 
    text-decoration: none;
}

.headerLinks p{
    color: white;
    font-family: Helvetica;
    margin: 12px; 
    background-color: rgb(255, 255, 255);
    text-decoration: none; 
    text-align: right;
    cursor: pointer;
}

/*blud you type so slow*/
/* huh my internet just bad */
/*how can we make it so that when we click dark mode the text goes white for the banner and also the logo changes to the dark mode one*/