
.about {
    color: black;
    font-family: Helvetica;
}

h1{
    color: rgb(0, 0, 80);
    font-family: Helvetica;
    margin: 2%;
}

h2, h3, h4, h5, h6, p{
    color: black;
    font-family: Helvetica;
    margin: 2%;
}

