.articlelist img {
    border-radius: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.articlelist p {
    margin-bottom: 1%;
}

.articlelist {
    margin-left: 2%;
    width: 48%;
    margin-bottom: 20px;
    position: relative;
}

.articlelist-policy{
    margin-top: 60vh;
    margin-left: 2%;
    text-align: center;
    font-size: 25px;
}
.articlelist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.articlelist:nth-child(1n)::after {
    content: '';
    margin-left: -10%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%; /* Cover both articles in the row */
    height: 3px;
    background-color: white;
}

@media only screen and (max-width: 1100px) {
    .articlelist {
        width: 100%;
        padding: 5%;
        text-align: center;
        margin-left: 0;
    }
    .articlelist:nth-child(1n)::after {
        margin-left: 0%;
        width: 100%;
    }
    .articlelist-policy{
        margin-top: 0;
    }
}