.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column; /* Ensure children are stacked vertically */
}

.login-heading {
    text-align: center;
    font-size: 25px;
}

.login-form {
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: #2F2F2F;
    display: inline-block;
    text-align: left;
    border: 2px solid #C2B895;
    border-radius: 40px;
    box-shadow: 30px 30px #131313, 30px 30px 0 2px #C2B895;
}

input{
    border-radius: 1000px;
    box-shadow: 20px 20px 4px 0px rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 35px;
    margin-left: 40px;
    margin-right: 58px;

    font-family: JetBrains Mono;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    transition: all 0.25s ease-in-out;
}

.login-button:hover{
    cursor: pointer;
}

.login-button-text{
    text-align: right;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    transition: all 0.25s ease-in-out;
}

.login-button-arrow {
    width: 50px; /* Initial width */
    height: auto; /* Maintain aspect ratio */
    transition: all 0.25s ease-in-out;
}