body {
    background-color: #131313;
}

.navbar {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    top: 0;
    width: 89%;
    margin-top: 52px;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 100px;
    box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.25);
    z-index: 1000;

    display: flex;
    justify-content: center;
}

.navbar-link {
    text-decoration: none;
    color: rgb(1, 1, 1);
    margin-left: 2%;
    margin-right: 2%;
    font-size: 150%;
    transition: all 0.25s ease-in-out;
}

.navbar-link:hover {
    font-size: 160%;
}

.special-navbar-link {
    display: none;
    text-decoration: none;
    color: rgb(1, 1, 1);
    margin-left: 2%;
    margin-right: 2%;
    font-size: 150%;
    transition: all 0.25s ease-in-out;
}

.special-navbar-link:hover {
    font-size: 160%;
}

h1 {
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    color: #89BEFF;
}

h2, h3, h4, h5, h6, p, a, div {
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

.admin-account-links {
    display: none;
}

@media only screen and (max-width: 1100px) {
    body{
        margin-bottom: 500px;
    }
    .navbar {
        background-color: #2F2F2F;
        text-align: center;
        width: 100%;
        margin: 0;
        align-self: center;
        position: fixed;
        bottom: 0; /* Ensure the navbar is at the bottom */
        top: auto; /* Ensure the navbar is at the bottom */
        box-shadow: 0 0 0 0;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        border-radius: 0;
        z-index: 1000;
    }

    .navbar-link, .special-navbar-link {
        margin: 0 2%;
        font-size: 30px;
        color: #ffffff;

        flex-direction: column;
    }

    .navbar-link i, .special-navbar-link i {
        font-size: 150%; /* Adjust icon size as needed */
    }
}