#article-content{
    margin-top: 50px;
    font-family: Helvetica, sans-serif;
    font-size: large;
    font-size: 25px;
    line-height: 40px;
}
.article-container{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#article-title, #article-author, #article-date{
    text-align: center;
}